<div class="container">

  <div class="row" style="max-width: 1000px; margin: 20px auto;">
    <%= form_with html: { data: { remote: true, type: 'json', controller: 'ollamaai' } } do | form | %>

      <div class="col-sm-5 shadow" style="font-family: monospace;">
        <%= form.select :model, options_for_select(@model_options), {}, { class: 'form-select', data: { 'ollamaai-target': 'selectedModel' } } %>
      </div>
      <%= content_tag :div, class: "chat-container" do %>

        <%# <div class="chat-header"></div> %>
        <%= content_tag :div, class: "chat-body shadow-lg custom-scrollbar-css", data: { 'ollamaai-target': 'chatBody' } do %><% end %>

        <div class="chat-footer d-flex input-group">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1">Image</button>
          <%= form.text_field :prompt, { class: "form-control form-control-sm", placeholder: "Type your prompt here...", data: { 'ollamaai-target': 'newPrompt' }  } %>
          <%= button_tag 'Send', name: nil, class: "btn btn-primary", id: "button-addon2", data: { action: 'click->ollamaai#send' } %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
