<div class="container">

  <div class="row" style="max-width: 1000px; margin: 20px auto;">
    <%= form_with html: { data: { remote: true, type: 'json', controller: 'ollamaai' } } do | form | %>

      <%= hidden_field_tag :hash_id, @hash_id, { data: { 'ollamaai-target': 'hashId' } }%>

      <div class="col-sm-5" style="font-family: monospace;">
        <%= form.select :model, options_for_select(@model_options), {}, { class: 'form-select', data: { 'ollamaai-target': 'selectedModel' } } %>
      </div>
      <%= content_tag :div, class: "chat-container" do %>

        <%= content_tag :div, class: "chat-body shadow-lg", data: { 'ollamaai-target': 'chatBody' } do %><% end %>

        <div class="chat-footer d-flex input-group">
          <%= label_tag :image, { class: "btn btn-outline-secondary" } do %>
            Image
            <%= form.file_field :image, { multiple: true, hidden: true, data: { 'ollamaai-target': 'image' } } %>
          <% end %>
          <%= form.text_field :prompt, { class: "form-control form-control-sm", placeholder: "Type your prompt here...", data: { 'ollamaai-target': 'prompt' }  } %>
          <%= button_tag 'Send', name: nil, class: "btn btn-primary", data: { action: 'click->ollamaai#send' } %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
